---
language: EN
title: AI Art Revolution
description: Register for the revolutionizing exhibition of AI-generated and robot-made paintings
scripts: <script type="text/javascript" src="/js/jquery.js"></script><script type="text/javascript" src="/js/scrollmagic/gsap3/gsap.min.js"></script><script type="text/javascript" src="/js/scrollmagic/ScrollMagic.min.js"></script><script type="text/javascript" src="/js/scrollmagic/plugins/animation.gsap.min.js"></script><link rel="stylesheet" href="art.css">
---
<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="is-loading">

    <!-- Intro Header -->
    <header class="intro content-section" style="padding: 0; top: 0; left: 0; height: 100%">
        <div id="intro" class="intro" style="position: absolute; top:0; left:0; width: 100%; height: 100%; overflow: hidden;">
            <div id="interchangeContainer" style="position: absolute; top:0; left:0; width: 100%; height: 100%; overflow: hidden; visibility: hidden">
                <canvas id="interchange" style="width: 100%; height: 100%; top: 0;"></canvas>
            </div>
            <div class="intro-body" style="position: relative; height: 100%; vertical-align: middle;">
                <div class="container">
                    <div class="row" style="padding-top: 50px">
                        <p id="txtBig" class="big">BIG</p>
                        <p class="big" style="font-size: 30pt">change is coming<br></p>
                        <div id="preloader">
                            <div class="txt">
                                <p class="txt-perc">0%</p>
                                <div class="progress"><span></span></div>
                            </div>
                        </div>
                        <span id="scroll-hint">Scroll Down</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main section -->
    <section id="about" style="margin-top:100vh;">
        <div class="container content-section">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-sm-10 col-sm-offset-1">
                    <h2>Hidoba AI / Robotic Art exhibition</h2>
                    <p>scheduled for <span style="text-decoration: underline;">late July 2020, Hong Kong</span>.</p>
                    <p>Make sure to be first to see and hear how Art will be changed forever.</p>
                </div>
            </div>
        </div>
        <div style="background-color: #555; color: #eee; margin-top:60px; padding-bottom: 50px">
            <div class="container content-section">
                <div class="row">
                    <div class="col-md-7 col-md-offset-3 col-sm-10 col-sm-offset-1">
                        <h2>Subscribe</h2>
                        <p>Subscribe to the private mailing to receive the news on the coming exhibition.</p>
                        <form class="form-horizontal" action="https://hidoba.azurewebsites.net/api/ai_art_subscribe">
                        <fieldset>
                        <div class="form-group">
                          <div class="col-md-4">
                          <input id="name" name="name" type="text" placeholder="Your name" class="form-control input-md" required="">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-4">
                          <input id="email" name="email" type="text" placeholder="Your best email" class="form-control input-md" required="">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-4">
                            <input type="submit" id="subscribe" name="subscribe" class="btn btn-primary" value="Subscribe">
                          </div>
                        </div>
                        </fieldset>
                        </form>
                        <p>Please, check out our <a href="https://www.instagram.com/hidobaresearch/"><img src="/img/ig.png" width="20" height="20" style="margin-bottom: 5px; margin-right: 3px" />Instagram @hidobaresearch</a> as well.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include contact.html %}
    {% include footer.html %}

    <script>
        var totalImages = 62;
        var loadedCount = 0;
        var renderedCount = 0;
        var imagesStrokes = new Array();
        var images = [];
        let jpgMode = false;
        if (window.innerWidth <= 600)
            jpgMode = true;
        let oldDeviceWidth = -1;
        let oldDeviceHeight = -1;
        var canvasTmp = document.createElement('canvas');
        var ctxTmp = canvasTmp.getContext('2d');

        function renderOneFrame(i) {
            return new Promise(resolve => {
                ctxTmp.drawImage(imagesStrokes[i], 0, 0, canvasTmp.width, canvasTmp.height);
                images.push(ctxTmp.getImageData(0, 0, canvasTmp.width, canvasTmp.height));
                resolve();
            });
        }

        async function renderImages() {
            console.log("loaded all. rendering.");
            canvasTmp.width = imagesStrokes[0].width;
            canvasTmp.height = imagesStrokes[0].height;
            ctxTmp.fillStyle = "#FFF";
            ctxTmp.fillRect(0, 0, canvasTmp.width, canvasTmp.height);
            for(var j = 0; j < totalImages; j++){
                await renderOneFrame(j);
                loadingProgress = 0.95 + 0.05 * j * 1.0 / totalImages;
                TweenLite.to(progressTl, 0.7, {progress:loadingProgress, ease:Linear.easeNone})
                //ctxTmp.drawImage(imagesStrokes[j], 0, 0, canvasTmp.width, canvasTmp.height);
                //images.push(ctxTmp.getImageData(0, 0, canvasTmp.width, canvasTmp.height));
            }
            TweenLite.to(progressTl, 0.7, {progress:1, ease:Linear.easeNone})
            initPaintingAnimation();
        }

        for (var i = 1; i <= totalImages; i++) {
            var img = new Image;
            img.onload = function(){
                loadedCount++;
                loadingProgress = (jpgMode ? 1.0 : 0.95)*(loadedCount/totalImages);
                TweenLite.to(progressTl, 0.7, {progress:loadingProgress, ease:Linear.easeNone})
                if (loadedCount == totalImages) {
                    if(jpgMode)
                        initPaintingAnimation();
                    else
                        renderImages();
                }
            };

            img.src = 'interchange/' + i + (jpgMode ? '.jpg' : '.png');
            if(jpgMode)
                images.push(img);
            else
                imagesStrokes.push(img);
        }

        var progressTl = new TimelineMax({paused:true,onUpdate:progressUpdate,onComplete:loadComplete});
        progressTl.to($('.progress span'), 1, {width:100, ease:Linear.easeNone});
        function progressUpdate(){
            loadingProgress = Math.round(progressTl.progress() * 100);
            $(".txt-perc").text(loadingProgress + '%');
        }
        function loadComplete() {
            var preloaderOutTl = new TimelineMax();
            $("body").attr("class", "");
            preloaderOutTl
                .add([
                    TweenMax.to($('#interchangeContainer'), 0.7, {autoAlpha: 1, ease:Back.easeIn}),
                    TweenMax.to($('.progress'), 0.5, {y: 100, autoAlpha: 0, ease:Back.easeIn}),
                    TweenMax.to($('.txt-perc'), 0.3, {y: 100, autoAlpha: 0, ease:Back.easeIn}),
                    TweenMax.to($('#preloader'), 0.7, {yPercent: 100, ease:Power4.easeInOut}),
                    TweenMax.from($('#scroll-hint'), 0.3, {y: -20, autoAlpha: 0, ease:Power1.easeOut})
                    ]);
            return preloaderOutTl;
        }
        var canvas = document.getElementById("interchange");
        var ctx = canvas.getContext("2d");
        const about = document.getElementById('about');
        var controller = new ScrollMagic.Controller();;
        var scene = new ScrollMagic.Scene({offset:0});
        let scrollpos = 0;
        let lastpos = -1;

        function scrollPlay(){
            var deviceWidth = window.innerWidth;
            var deviceHeight = window.document.documentElement.clientHeight; // stable on mobile
            if (scrollpos != lastpos || oldDeviceWidth != deviceWidth || oldDeviceHeight != deviceHeight){
                if(jpgMode){
                    canvas.width = deviceWidth * 2;
                    canvas.height = deviceHeight * 2;
                }
                else{
                    canvas.width = imagesStrokes[0].width;
                    canvas.height = deviceHeight / deviceWidth * imagesStrokes[0].width;
                }
                var scale = deviceWidth / images[scrollpos].width;
                var y = Math.max(((deviceHeight - images[scrollpos].height * scale) / 2) * (canvas.width / deviceWidth), 0);
                //var y = Math.max((deviceHeight - images[scrollpos].height * scale) / 2, 0);
                if(jpgMode)
                    ctx.drawImage(images[scrollpos], 0, y, canvas.width, images[scrollpos].height * scale * 2);
                else
                    ctx.putImageData(images[scrollpos], 0, y);
                lastpos = scrollpos;
                oldDeviceWidth = deviceWidth;
                oldDeviceHeight = deviceHeight;
            }
            window.requestAnimationFrame(scrollPlay);
        }
        function initPaintingAnimation() {
            var tween = new TimelineMax ()
                .add([
                    TweenMax.to("#txtBig", 1, {scale: 3, autoAlpha: 0, ease:Power1.easeInOut}),
                    TweenMax.to('#scroll-hint', 1, {autoAlpha: 0, ease:Power1.easeInOut})
                ]);
            scene.addTo(controller)
                //.addIndicators()
                .duration(window.innerHeight)
                .setPin("#intro")
                .setTween(tween)
                .on("progress", function (e) {
                    scrollpos = Math.round(e.progress*(totalImages-1));
                });
            window.requestAnimationFrame(scrollPlay);
        };
    </script>
    </body>
</html>