---
language: EN
title: AI Art Revolution
description: Register for the revolutionizing exhibition of AI-generated and robot-made paintings
---
<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top">

    <!-- Intro Header -->
    <header class="intro content-section" style="padding: 0">
        <div class="intro-body">
            <div class="container">
                <div class="row" style="padding-top: 50px">
                    <p class="big" style="font-size: 150pt; line-height: 0.6">BIG</p>
                    <p class="big" style="font-size: 30pt">change is coming<br>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-md-7 col-md-offset-3 col-sm-10 col-sm-offset-1">
                <h2>Hidoba AI / Robotic Art exhibition</h2>
                <p>scheduled for <span style="font-size: 20pt; text-decoration: underline;">late July 2020, Hong Kong</span>.</p>

                <p>Make sure to be first to see and hear how the art will be changed forever</p>
            
            </div>
        </div>
    </section>

    <!-- Subscribe section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-md-7 col-md-offset-3 col-sm-10 col-sm-offset-1">
                <h2>Subscribe</h2>

                <p>Subscribe to the private mailing to receive the news on the coming exhibition.</p>

                <p>.</p>
            </div>
        </div>
    </section>

    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>