 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/grayscale.js" | prepend: site.baseurl }}"></script>

    <script>

var vid = document.getElementById('v0'); 

                        
    const req = new XMLHttpRequest();

    req.open('get', "/img/vid0.mp4", true);
    req.responseType = 'blob';
    req.withCredentials = false;

    req.onload = () => {
      //vid.addEventListener('loadeddata', () => this.init());
      vid.src = window.URL.createObjectURL(req.response);
    };

    // req.onprogress = (requestProgress) => {
    //   const percentage = Math.round(requestProgress.loaded / requestProgress.total * 100);

    //   if(this.debug)
    //     console.log('onprogress', percentage + '%');
    // };

    // req.onreadystatechange = () => {
    //   if (this.debug)
    //     console.log('onreadystatechange', req.readyState);
    // };

    req.send();
                        

// // Use requestAnimationFrame for smooth playback
function scrollPlay(){
  vid.currentTime  = window.pageYOffset / 60.;
  vid.pause();
  //vid.fastSeek(window.pageYOffset / 60.);
  window.requestAnimationFrame(scrollPlay);
}

window.requestAnimationFrame(scrollPlay);


      // // what should we do when scrolling occurs
      // var runOnScroll =  function(evt) {
      //   vid.currentTime  = window.pageYOffset / 60.;
      // };

      // window.addEventListener('scroll', function(e) {
      //   runOnScroll();
      // });
      //runOnScroll();



    </script>